<div class="container">
  <div class="latest-recipes">
    <h2>Latest Recipes</h2>
    <% @recipes.each do |recipe| %>
      <div class="recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= recipe.photo_url %>');">
        <div class="icons">
          <%= link_to favourites_create_path(recipe: recipe.id), data: {turbo_method: :post} do %>
            <i class="fas fa-heart"></i>
          <% end %>
          <%= link_to ratings_create_path(recipe: recipe.id), data: {turbo_method: :post} do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        </div>
        <%= link_to recipe_path(recipe[:id]) do %>
          <div class="text">
            <h1><%= recipe.title %></h1>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

  <% unless params[:query].present? %>
  <div class="trending-categories">
    <h2>Trending Categories</h2>

    <% @trending_categories.each do |category| %>
      <%= link_to category_show_path(title: category.title.downcase) do %>
        <h1><%= category.title %></h1>
        <img src="<%= category.photo_url %>" alt="<%= category.title %>">
      <% end %>
    <% end %>
  </div>

  <div class="explore-more">
    <h2>Explore More</h2>

    <% @explore_more.each do |category| %>
      <%= link_to category_show_path(title: category.title.downcase) do %>
        <h1><%= category.title %></h1>
        <img src="<%= category.photo_url %>" alt="<%= category.title %>">
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
