<h2>Latest Recipes</h2>

<% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe[:id]) do %>
    <h1><%= recipe.title %></h1>
    <img src="<%= recipe.photo_url %>" alt="<%= recipe.title %>">
  <% end %>

  <%= link_to favourites_create_path(recipe: recipe.id), data: {turbo_method: :post} do %>
    <i class="fas fa-heart"></i>
  <% end %>
  <%= link_to ratings_create_path(recipe: recipe.id), data: {turbo_method: :post} do %>
    <i class="fa-solid fa-star"></i>
  <% end %>
<% end %>

<% unless params[:query].present? %>
  <h2>Trending Categories</h2>

  <% @trending_categories.each do |category| %>
    <%= link_to category_show_path(title: category.title.downcase) do %>
      <h1><%= category.title %></h1>
      <img src="<%= category.photo_url %>" alt="<%= category.title %>">
    <% end %>
  <% end %>

  <h2>Explore More</h2>

  <% @explore_more.each do |category| %>
    <%= link_to category_show_path(title: category.title.downcase) do %>
      <h1><%= category.title %></h1>
      <img src="<%= category.photo_url %>" alt="<%= category.title %>">
    <% end %>
  <% end %>
<% end %>
