<div class="container">
  <% if params[:query].present? && !@no_results && @recipes.count > 1 %>
    <div class="index-search-results-number">
      <span class="border"><%= @recipes.count %> recipes for "<%= params[:query] %>"</span>
    </div>
  <% elsif params[:query].present? && !@no_results && @recipes.count == 1 %>
    <div class="index-search-results-number">
      <span class="border"><%= @recipes.count %> recipe for "<%= params[:query] %>"</span>
    </div>
  <% end %>
  <div class="latest-recipes">
    <% if @no_results %>
      <span>No Recipes Found</span>
    <% elsif params[:query].present? %>
      <div class="index-search-results">
        <% @recipes.each do |recipe| %>
          <div class="small-recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= recipe.photo_url %>');">
            <div class="icons">
              <%= render partial: 'shared/heart_icon', locals: { recipe: recipe } %>
            </div>
            <%= link_to recipe_path(recipe[:id]) do %>
              <div class="text">
                <h2><%= recipe.title %> <span class="star-button gold-star"></span></h2>
              </div>
              <div class="rating-info">
                <% if recipe.ratings.average(:value) == nil %>
                  <span> (N/A) </span>
                <% else %>
                  <span> (<%= recipe.ratings.average(:value) %>) </span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="large-recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @recipes[0].photo_url %>');">
        <div class="icons">
          <%= link_to favourites_create_path(recipe: @recipes[0].id), data: {turbo_method: :post} do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </div>
        <%= link_to recipe_path(@recipes[0][:id]) do %>
          <div class="text">
            <h2><%= @recipes[0].title %></h2>
          </div>
        <% end %>
      </div>
      <div class="small-index-recipe-cards">
        <% @recipes[1..2].each do |recipe| %>
          <div class="small-index-recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= recipe.photo_url %>');">
            <div class="icons">
              <%= link_to favourites_create_path(recipe: recipe.id), data: {turbo_method: :post} do %>
                <i class="fas fa-heart"></i>
              <% end %>
            </div>
            <%= link_to recipe_path(recipe[:id]) do %>
              <div class="text">
                <h2><%= recipe.title %></h2>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless params[:query].present? %>
    <div class="trending-categories">
      <div class="trending-category-header">
        <div class="trending-category-heading">
          <h2 class="border">Trending Categories</h2>
        </div>
        <div class="trending-category-buttons">
          <% @explore_more_buttons.each do |category| %>
            <button><%= category.title %></button>
          <% end %>
        </div>
      </div>
      <div class="trending-category-images">
        <% @trending_categories.each do |category| %>
          <div class="trending-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= category.photo_url %>');">
            <%= link_to category_show_path(title: category.title.downcase) do %>
              <div class="text">
                <h2><%= category.title %></h2>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="explore-more">
      <div class="explore-more-header">
        <div class="explore-more-heading">
          <h2 class="border">Explore More</h2>
        </div>
      </div>
      <div class="explore-more-panes">
        <div class="explore-left-pane">
          <% @explore_more[0..1].each do |category| %>
            <div class="left-pane-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= category.photo_url %>');">
              <%= link_to category_show_path(title: category.title.downcase) do %>
                <div class="text">
                  <h2><%= category.title %></h2>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <% @explore_more[2..2].each do |category| %>
          <div class="explore-centre-pane" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= category.photo_url %>');">
            <%= link_to category_show_path(title: category.title.downcase) do %>
              <div class="text">
                <h2><%= category.title %></h2>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="explore-right-pane">
          <% @explore_more[3..4].each do |category| %>
            <div class="right-pane-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= category.photo_url %>');">
              <%= link_to category_show_path(title: category.title.downcase) do %>
                <div class="text">
                  <h2><%= category.title %></h2>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
