<div class="recipe-show-container">
  <div class="recipe-header">
    <div class="recipe-title">
      <h1><%= @recipe.title %></h1>
    </div>
    <div class="average-show-rating">
      <% if @average_rating == nil %>
        <span><%= 0 %> / <%= @total_ratings_count %> ratings</span>
      <% else %>
        <span><%= "%.1f" % @average_rating %> / <%= @total_ratings_count %> <%= @total_ratings_count == 1 ? 'rating' : 'ratings' %></span>
      <% end %>
    </div>
  </div>
  <div class="recipe-rating">
    <% unless @current_user_ratings_count > 0 %>
      <%= form_tag({ controller: "ratings", action: "create", recipe_id: @recipe.id }, method: :post, class: "star-form") do %>
        <div class="star-buttons-container">
          <% (1..5).each do |value| %>
            <%= button_tag type: "submit", class: "star-button", name: "value", value: 6 - value do %>
              <%= content_tag :i, "", class: "star-icon" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="recipe-overall-details">
    <div class="recipe-photo-title">
      <div class="recipe-show-image" style="background-image: url('<%= @recipe.photo_url %>');">
        <div class="recipe-favourite-rating">
          <%= link_to favourites_create_path(recipe: @recipe.id), data: {turbo_method: :post} do %>
            <i id="heartIcon" class="fas fa-heart"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="recipe-guide">
      <div class="recipe-instructions">
        <h2><b>Instructions :</b></h2>
        <p>
          <%= @recipe.instructions %>
        </p>
      </div>
      <div class="recipe-ingredients-measures">
        <h2><b>Ingredients :</b></h2>
        <ul>
          <% @recipe.ingredients.each_with_index do |ingredient, index| %>
            <% capitalized_ingredient = ingredient.capitalize %>
            <% capitalized_measure = @recipe.measures[index].capitalize %>
            <% if capitalized_measure.present? %>
              <li><%= "#{capitalized_ingredient} -> #{capitalized_measure}" %></li>
            <% else %>
              <li><%= "#{capitalized_ingredient}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
