<h1><%= @recipe.title %></h1>
<img src="<%= @recipe.photo_url %>" alt="<%= @recipe.title %>">

<%= link_to favourite_create_path(recipe: @recipe.id), data: {turbo_method: :post} do %>
  <i class="fas fa-heart"></i>
<% end %>

<p>Instructions: <%= @recipe.instructions %></p>
