<h1>Your Favourite Recipes</h1>

<% @favourite_recipes.each do |favourite| %>
  <div class="favourite-recipes">
    <div class="favourite-recipe-title">
      <h1><%= favourite.recipe.title %></h1>
    </div>
    <div class="favourite-recipe-photo">
      <%= link_to favourite.recipe do %>
        <img src="<%= favourite.recipe.photo_url %>" alt="<%= favourite.recipe.title %>">
      <% end %>
    </div>
    <div class="favourite-user-rating">
      <% if @average_ratings[favourite.recipe.id].present? %>
        <p>Your Rating: <%= "â­ï¸" * ((@average_ratings[favourite.recipe.id] * 2).round / 2.0) %></p>
      <% else %>
        <span>You haven't rated this recipe yet.</span>
      <% end %>
    </div>
  </div>
<% end %>
