<div class="navbar-container">
  <h1 id="logoname">Heavenly Recipes</h1>

  <div class="navbar-links">
    <%= link_to 'Home', root_path, class: "nav-link" %>
    <%= link_to 'About', about_path, class: "nav-link" %>
    <%= link_to 'Contact', contact_path, class: "nav-link" %>
  </div>

  <%= form_with(url: recipes_path, method: :get, class: "search-form-control form-group") do |form| %>
    <%= form.text_field :query, class: "form-control string required", id: "search_query", placeholder: "Search Recipe" %>
    <%= form.button type: "submit", class: "btn btn-flat" do %>
      <i class="fas fa-search"></i> Search
    <% end %>
  <% end %>

  <div class="navbar-links">
    <% if user_signed_in? %>
      <ul>
        <li>
          <a href="<%= favourites_path %>">
            <i class="fas fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="<%= account_path %>">
            <i class="fas fa-user"></i>
          </a>
          <ul>
            <li>
              <%= link_to "Log-out", destroy_user_session_path, class: "logout-link", data: { turbo_method: :delete } %>
            </li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fas fa-user"></i> Login
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user"></i> Sign Up
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
