<div class="navbar-container">
  <h1 id="logoname">Heavenly Recipes</h1>

  <div class="navbar-links">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Contact', contact_path %>
  </div>

  <%= form_with(url: recipes_path, method: :get, class: "search-form-control form-group") do |form| %>
    <%= form.text_field :query, class: "form-control string required", id: "search_query", placeholder: "Search Recipe" %>
    <%= form.button type: "submit", class: "btn btn-flat" do %>
      <i class="fas fa-search"></i> Search
    <% end %>
  <% end %>

  <div class="navbar-links">
    <%= link_to (favourites_path) do %>
      <i class="fas fa-heart"></i>
    <% end %>

    <%= link_to (account_path) do %>
      <i class="fas fa-user"></i>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</div>
