<h2>Latest Recipes</h2>

<% @random_recipe_data.shuffle.each do |meal| %>
  <%= link_to recipe_path(meal[:id]) do %>
    <%= image_tag meal[:photo], alt: meal[:name] %>
  <% end %>
  <h2><%= meal[:name] %></h2>
  <p><%= meal[:category] %></p>
<% end %>

<h2>Trending Categories</h2>

<% @random_category_data.shuffle.uniq { |meal| [meal[:id], meal[:category]] }.each do |meal| %>
  <%= link_to category_path(meal[:id]) do %>
    <%= image_tag meal[:photo], alt: meal[:name] %>
  <% end %>
  <p><%= meal[:category] %></p>
<% end %>

<h2>Explore More</h2>

<% @further_category_data.shuffle.uniq { |category| [category[:id], category[:category]] }.each do |category| %>
  <%= link_to category_path(category[:id]) do %>
    <%= image_tag category[:photo], alt: category[:name] %>
  <% end %>
  <p><%= category[:category] %></p>
<% end %>
