<h1>Search Results for "<%= @query %>"</h1>

<% if @meal_data.present? %>
  <% @meal_data.each do |meal| %>
    <p>Name: <%= meal[:name] %></p>
    <p>Category: <%= meal[:category] %></p>
    <img src="<%= meal[:photo] %>" alt="<%= meal[:name] %>">
  <% end %>
<% else %>
  <p>No results found.</p>
<% end %>
