<h2>Search Results for "<%= @query.capitalize %>"</h2>

<% if @search_recipe_data.present? %>
  <% @search_recipe_data.each do |meal| %>
    <div>
      <%= link_to recipe_path(meal[:id]) do %>
        <%= image_tag meal[:photo], alt: meal[:name] %>
      <% end %>
      <%= link_to(favourites_path) do %>
        <i id="heartIcon" class="fas fa-heart"></i>
      <% end %>
      <h2><%= meal[:name] %></h2>
    </div>
  <% end %>
<% else %>
  <p>No results found.</p>
<% end %>
