<h2><%= @category.title.capitalize %> Recipes</h2>

<% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe[:id]) do %>
    <h1><%= recipe.title %></h1>
    <img src="<%= recipe.photo_url %>" alt="<%= recipe.title %>">
  <% end %>

  <%= link_to favourites_create_path(recipe: recipe.id), data: {turbo_method: :post} do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% end %>
