<div class="categories-container">
  <div class="category-search-results-number">
    <span class="border"><%= @category.title.capitalize %> Recipes</span>
  </div>
  <div class="latest-categories">
    <% @recipes.each do |recipe| %>
      <div class="small-category-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= recipe.photo_url %>');">
        <div class="icons">
          <%= link_to favourites_create_path(recipe: recipe.id), data: {turbo_method: :post} do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </div>
        <%= link_to recipe_path(recipe[:id]) do %>
          <div class="text">
            <h2><%= recipe.title %> <span class="star-button gold-star"></span></h2>
          </div>
          <div class="rating-info">
            <% if recipe.ratings.average(:value) == nil %>
              <span> (N/A) </span>
            <% else %>
              <span> (<%= recipe.ratings.average(:value) %>) </span>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
